h1{
    background-color: black;
    color: white;
    text-align: left;
    line-height: 60px;
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
}

    
span{
    color:aqua;
    text-align: left;

}
h2{
    background-color: purple;
    color: white;
    text-align: center;
    line-height: 60px;
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;



}
h3{
    background-color: lightblue;
    text-align: right;
    text-decoration: underline;
    line-height: 40px;
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
}